:root {
    --color0: #ffffff;
    --color1: #f5f6f7;
    --color2: #dfdfe2;
    --color3: #d0d0d5;
    --color4: #858591;
    --color5: #858591;
    --solid-border: blue;
    --dashed-border: lightblue;
    }

.available-0 {
 background-color: var(--color0);
}

.available-1 {
 background-color: var(--color1);
}

.available-2 {
 background-color: var(--color2);
}

.available-3 {
 background-color: var(--color3);
}

.available-4 {
 background-color: var(--color4);
}

.available-5 {
 background-color: var(--color5);
}

.sharp td {
  border-bottom: var(--solid-border);

}

.half td {
  border-bottom: var(--dashed-border);

}

 #legend-gradient {
    height: 40px;
    background-image: linear-gradient(90deg,
        var(--color0) 0% 20%, 
        var(--color1) 20% 40%,
        var(--color2) 40% 55%,
        var(--color3) 55% 70%, 
        var(--color4) 70% 85%,
        var(--color5) 85% 100%
    );
 }