body{
  background-color:#f4f4f4
}
.color-box{
  width:100px;
  height:100px;
  display:flex;
  justify-content:center;
}
.color1{
  border-radius:10px;
  background-color:#ADD8E6
}
.color2{
  border-radius:10px;
  background-color:rgb(144, 238, 144)
}
.color3{
  border-radius:10px;
  background-color:red;
}
.color4{
  border-radius:10px;
  background-color: hsl(0, 0% ,50%)
}
.color5{
  border-radius:10px;
  background-color:pink;

}