#email{
  padding: 50px;
  margin: 50px auto;
  width: 500px;
  border: 2px;
  box-sizing: border-box;
}
#confidential, #top-secret{
  padding: 2px 1px 2px 1px;
  margin: 20px 20px 1px;
  border: 5px  red dotted;
  transform: rotate(-5.5deg);
  display:inline-block;
}

.blurred{
  filter: blur(3px)
}