body{
  background-color:black;
  text-align:center;
}
.form-container{
  border-radius:10px;
  padding:100px;
  margin:100px auto;
  width:500px;
  background-color:#bbbbbb;
  text-align:center;
}
label{
  color:rgb(8, 82, 77);
  margin:1rem;
}
input,textarea{
  width:10rem;
  padding:10px 0 0 0;
  margin-bottom:100px;
}
button{
  background-color:rgb(219, 186, 186);
  font-size:2rem;
  text-align:center;
}
button:hover{
  background-color:yellow;
}