body{
background-color: skyblue;
text-align:center;
padding-top:50px;
padding-bottom:50px;
margin-top:0;
margin-bottom:0;
margin-left:auto;
margin-right:auto;
width:100vw;
min-height:calc(100vh - 100px);
font-family:arial;
}
section{
  width:80%;
}
.columns{
display:grid;
grid-template-columns:1fr 1fr;
}
ul{
  text-align:left;
}
hr{
  width:90%;
  background-color:black;
  padding:1px;
  margin:auto;
}

