body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
    
}

button.favorite-icon {
    font-size: 24px;
    cursor: pointer;
    color: gray;
    border: none;
    background: none;
    outline: none;
}
.filled {
    color: red;
}
br {
    margin-bottom: 15px;    
    color: white;
}