#house {
  position: relative;
  border: 10px solid;
  background-color: lightblue;
  width: 500px;
  height: 400px;
  margin-top: 100px;
  z-index: auto;

}
#chimney {
  position: absolute;
  top: -80px;
  border: 5px solid;
  
  background-color: rgb(35, 52, 58);
  width: 50px;
  height: 80px;
  z-index: -1;
}
#roof {
  position: absolute;
  top: 0;
  border: 10px;
  background-color: rgb(36, 43, 46);
  width: 100%;
  height: 100px;
  
}
#window-1 {
  position: absolute;
  
  top: 160px;
  
  left: 380px;
  border: 2px solid;
  background-color: rgb(5, 36, 46);
  width: 50px;
  height: 40px;
}
#window-2 {
  position: absolute;
  top: 160px;
  
  left: 100px;
  border: 2px solid;
  background-color: rgb(5, 36, 46);
  width: 50px;
  height: 40px;
}
#door {
  position: absolute;
  bottom: 0;
  right: 225px;
  border: 2px solid;
  
  background-color: rgb(86, 55, 136);
  width: 50px;
  height: 100px;
  
}
