@media (max-width: 650px)  {
  #nav-bar {
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
  }

}