h1{
text-align:center;
}
body{ 
background-color:lightblue;
margin:100px,25px,100px,25px;
padding:20px;
text-align:center;
}
.sub-item-link{
  text-decoration:none;
}
a:link{
  color:blue;
}
a:visited{
  color:red;
}
a:hover{
  color:purple;
}
a:active{
  color:pink;
}
a:focus{
  outline:2px solid;
}
.todo-list{
  padding:20px;
  margin:10px;background-color:lightgreen;
}

